@charset "UTF-8";
html, body, h1, h2, h3, p, ul, li, dl, dt, dd, table, tr, th, td {
  line-height: 1.0;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border: none;
  vertical-align: bottom;
  width: 100%;
}

.body {
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", Meiryo, 'メイリオ', sans-serif;
}

.container {
  margin: auto;
  width: 93.75vw;
}

.header .header-nav-list {
  -ms-flex-flow: row wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  padding: 2.96875vw 0 2.65625vw;
}

.header .header-nav-list .header-nav-list-item:nth-child(even) {
  margin-left: 1.5625vw;
}

.header .header-nav-list .header-nav-list-item:nth-child(n + 3) {
  margin-top: 1.40625vw;
}

.header .header-nav-list .header-nav-list-item > a {
  -webkit-box-sizing: border-box;
  background-color: #f9a208;
  border-radius: 1.25vw;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 4.0625vw;
  font-weight: bold;
  padding: 4.375vw 0 4.375vw 2.34375vw;
  position: relative;
  width: 46.09375vw;
}

.header .header-nav-list .header-nav-list-item > a::before, .header .header-nav-list .header-nav-list-item > a::after {
  background-color: #fff;
  bottom: 5vw;
  content: '';
  display: block;
  height: 2.8125vw;
  position: absolute;
  width: 0.625vw;
}

.header .header-nav-list .header-nav-list-item > a::before {
  -webkit-transform: rotate(45deg);
  right: 3.125vw;
  transform: rotate(45deg);
}

.header .header-nav-list .header-nav-list-item > a::after {
  -webkit-transform: rotate(-45deg);
  right: 4.6875vw;
  transform: rotate(-45deg);
}

.main {
  background: url(/portfolio/study/study04/common/img/bg-img.jpg) repeat left top/0.625vw auto;
  padding: 3.4375vw 0 6.25vw;
}

.main .main-section {
  background: #fff0ed url(/portfolio/study/study04/common/img/bg-momiji.jpg) no-repeat right top/100% auto;
}

.main .main-section + section {
  margin-top: 6.40625vw;
}

.main .main-section .main-section-title {
  -webkit-box-shadow: 0.15625vw 0.3125vw 0.625vw rgba(0, 0, 0, 0.35);
  -webkit-box-sizing: border-box;
  background-color: #df3008;
  border-bottom: 0.625vw solid #921b00;
  border-top: 0.625vw solid #921b00;
  box-shadow: 0.15625vw 0.3125vw 0.625vw rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  padding: 1.875vw 0 2.5vw 3.4375vw;
}

.main .main-section .main-section-title > img {
  height: 5.3125vw;
  width: auto;
}

.main .main-section .main-section-body {
  padding: 4.21875vw 3.125vw 3.90625vw;
}

.main .main-section .to-top-link {
  display: none;
}

.main .momiji-map .momiji-map-caption {
  font-size: 4.375vw;
  line-height: 1.5;
  margin-bottom: 5vw;
}

.main .momiji-map .momiji-map-lead {
  margin-bottom: 2.5vw;
}

.main .momiji-map .momiji-map-lead img {
  height: 8.125vw;
  width: auto;
}

.main .congestion-calendar .congestion-calendar-caption {
  font-size: 3.4375vw;
  line-height: 1.36;
  margin-bottom: 4.6875vw;
}

.main .congestion-calendar .congestion-calendar-caption::before {
  content: '\00203B';
}

.main .congestion-calendar .congestion-calendar-table {
  background-color: #fff;
  text-align: center;
  width: 100%;
}

.main .congestion-calendar .congestion-calendar-table tr:nth-child(odd) {
  background-color: #f6ece6;
}

.main .congestion-calendar .congestion-calendar-table th, .main .congestion-calendar .congestion-calendar-table td {
  border: 0.15625vw #610700 solid;
}

.main .congestion-calendar .congestion-calendar-table .store-name-heading, .main .congestion-calendar .congestion-calendar-table .congestion-heading {
  background-color: #ffb400;
}

.main .congestion-calendar .congestion-calendar-table .store-name-heading {
  padding: 0.625vw 0 1.09375vw;
}

.main .congestion-calendar .congestion-calendar-table .store-name-heading img {
  height: 9.84375vw;
  width: auto;
}

.main .congestion-calendar .congestion-calendar-table .congestion-heading {
  padding: 1.09375vw 0 0.9375vw;
}

.main .congestion-calendar .congestion-calendar-table .congestion-heading > img {
  height: 2.96875vw;
  width: auto;
}

.main .congestion-calendar .congestion-calendar-table .month-heading {
  font-size: 3.28125vw;
  font-weight: normal;
  padding: 0.9375vw 0 0.9375vw;
}

.main .congestion-calendar .congestion-calendar-table .store-name {
  font-size: 3.4375vw;
  padding: 1.25vw 0 1.875vw;
}

.main .congestion-calendar .congestion-calendar-table td {
  padding: 1.40625vw 0 1.25vw;
}

.main .congestion-calendar .congestion-calendar-table td > img {
  height: 3.59375vw;
  width: auto;
}

.main .travel-course .travel-course-list {
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border: solid 0.3125vw #df3008;
  box-sizing: border-box;
}

.main .travel-course .travel-course-list .travel-course-list-item {
  padding: 3.4375vw 11.71875vw 3.4375vw 3.4375vw;
  position: relative;
}

.main .travel-course .travel-course-list .travel-course-list-item:not(:last-child) {
  border-bottom: 1px solid #b8b8b8;
}

.main .travel-course .travel-course-list .travel-course-list-item .course-num-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4.0625vw;
  margin-bottom: 3.125vw;
}

.main .travel-course .travel-course-list .travel-course-list-item .course-num-list > dt {
  -webkit-box-sizing: border-box;
  background-color: #ad2b00;
  box-sizing: border-box;
  color: #fff;
  height: 10vw;
  padding: 2.96875vw 0 2.96875vw 2.65625vw;
  width: 27.03125vw;
}

.main .travel-course .travel-course-list .travel-course-list-item .course-num-list > dd {
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border: solid 0.15625vw #ad2b00;
  box-sizing: border-box;
  color: #ad2b00;
  height: 10vw;
  padding: 2.8125vw 0 2.8125vw 2.5vw;
  width: 20.3125vw;
}

.main .travel-course .travel-course-list .travel-course-list-item > p:first-of-type > a {
  color: #734300;
  font-size: 5vw;
  font-weight: bold;
  line-height: 1.31;
}

.main .travel-course .travel-course-list .travel-course-list-item > p:first-of-type > a > span {
  bottom: 0;
  display: block;
  height: 4.375vw;
  margin: auto;
  position: absolute;
  right: 3.28125vw;
  top: 0;
  width: 2.5vw;
}

.main .travel-course .travel-course-list .travel-course-list-item > p:first-of-type > a > span::before, .main .travel-course .travel-course-list .travel-course-list-item > p:first-of-type > a > span::after {
  background-color: #b8b8b8;
  content: '';
  display: block;
  height: 2.8125vw;
  position: absolute;
  right: 0.9375vw;
  width: 0.625vw;
}

.main .travel-course .travel-course-list .travel-course-list-item > p:first-of-type > a > span::before {
  -webkit-transform: rotate(-45deg);
  top: 0;
  transform: rotate(-45deg);
}

.main .travel-course .travel-course-list .travel-course-list-item > p:first-of-type > a > span::after {
  -webkit-transform: rotate(45deg);
  bottom: 0;
  transform: rotate(45deg);
}

.main .travel-course .travel-course-list .travel-course-list-item > p:nth-of-type(2n) {
  font-size: 4.375vw;
  margin-top: 2.8125vw;
}

.main .travel-course .travel-course-list .travel-course-list-item > p:nth-of-type(2n) > a {
  text-decoration: underline;
}

.main .hotel-info .hotel-info-list {
  margin-bottom: 6.09375vw;
}

.main .hotel-info .hotel-info-list .hotel-info-list-item {
  background-color: #fff;
  padding: 3.90625vw 3.4375vw 6.5625vw;
  position: relative;
}

.main .hotel-info .hotel-info-list .hotel-info-list-item + li {
  margin-top: 3.125vw;
}

.main .hotel-info .hotel-info-list .hotel-info-list-item > img:first-of-type {
  margin-bottom: 3.75vw;
}

.main .hotel-info .hotel-info-list .hotel-info-list-item > img:nth-of-type(2n) {
  height: 18.75vw;
  left: 1.25vw;
  position: absolute;
  top: 2.96875vw;
  width: 18.75vw;
}

.main .hotel-info .hotel-info-list .hotel-info-list-item .hotel-name {
  border-bottom: 0.46875vw solid #f8c7b7;
  margin-bottom: 3.125vw;
  padding-bottom: 1.5625vw;
  padding-left: 1.5625vw;
}

.main .hotel-info .hotel-info-list .hotel-info-list-item .hotel-name img {
  height: 7.5vw;
  width: auto;
}

.main .hotel-info .hotel-info-list .hotel-info-list-item .hotel-caption {
  color: #5d310c;
  font-size: 3.75vw;
  line-height: 1.25;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-title {
  -webkit-box-sizing: border-box;
  background-color: #cab8ab;
  box-sizing: border-box;
  position: relative;
  width: 56.25vw;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-title::before {
  background-color: #ffd70d;
  bottom: 0;
  content: '';
  display: block;
  height: 4.53125vw;
  left: 2.03125vw;
  margin: auto;
  position: absolute;
  top: 0;
  width: 1.875vw;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-title > img {
  height: auto;
  padding: 1.875vw 0 1.875vw 6.09375vw;
  width: 39.84375vw;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list {
  -webkit-box-sizing: border-box;
  border: solid 0.3125vw #df3008;
  box-sizing: border-box;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item {
  background-color: #fff;
  padding: 3.4375vw;
  position: relative;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item:not(:last-child) {
  border-bottom: 0.15625vw solid #b8b8b8;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item .course-num-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4.0625vw;
  margin-bottom: 3.125vw;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item .course-num-list > dt {
  -webkit-box-sizing: border-box;
  background-color: #ad2b00;
  box-sizing: border-box;
  color: #fff;
  height: 10vw;
  padding: 2.96875vw 0 2.96875vw 2.65625vw;
  width: 27.03125vw;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item .course-num-list > dd {
  -webkit-box-sizing: border-box;
  background-color: #fff;
  border: solid 0.15625vw #ad2b00;
  box-sizing: border-box;
  color: #ad2b00;
  height: 10vw;
  padding: 2.8125vw 0 2.8125vw 2.5vw;
  width: 24.21875vw;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item .course-name > a {
  color: #734300;
  font-size: 5vw;
  font-weight: bold;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item .course-name > a > span {
  bottom: 0;
  display: block;
  height: 4.375vw;
  margin: auto;
  position: absolute;
  right: 3.28125vw;
  top: 0;
  width: 2.5vw;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item .course-name > a > span::before, .main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item .course-name > a > span::after {
  background-color: #b8b8b8;
  content: '';
  display: block;
  height: 2.8125vw;
  position: absolute;
  right: 0.9375vw;
  width: 0.625vw;
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item .course-name > a > span::before {
  -webkit-transform: rotate(-45deg);
  top: 0;
  transform: rotate(-45deg);
}

.main .hotel-info .sub-section-hotel-course .sub-section-hotel-course-list .sub-section-hotel-course-list-item .course-name > a > span::after {
  -webkit-transform: rotate(45deg);
  bottom: 0;
  transform: rotate(45deg);
}

.footer {
  padding: 7.03125vw 0;
}

.footer .to-top-link {
  text-align: center;
}

.footer .to-top-link > a {
  display: inline-block;
  font-size: 3.75vw;
  position: relative;
}

.footer .to-top-link > a::before, .footer .to-top-link > a::after {
  background-color: #b8b8b8;
  bottom: 0;
  content: '';
  display: block;
  height: 3.125vw;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0.625vw;
}

.footer .to-top-link > a::before {
  -webkit-transform: rotate(45deg);
  left: -4.21875vw;
  transform: rotate(45deg);
}

.footer .to-top-link > a::after {
  -webkit-transform: rotate(-45deg);
  left: -2.34375vw;
  transform: rotate(-45deg);
}
