@charset "UTF-8";
html, body, h1, h2, p, ul, li, dl, dt, dd, figure {
  line-height: 1.0;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  border: none;
  max-width: 100%;
  vertical-align: bottom;
}

.body {
  background: #fff;
  color: #000;
  font-family: Meiryo, 'メイリオ', -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 710px;
}

.header {
  margin-bottom: 20px;
}

.main .section {
  background-image: url(/portfolio/study/study02/common/img/section-frame-bg.jpg);
  padding: 10px;
}

.main .section:not(:last-child) {
  margin-bottom: 30px;
}

.main .section-inner-wrap {
  -ms-flex-flow: row wrap;
  -ms-flex-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 10px 20px 10px;
}

.main .section:nth-of-type(even) .section-inner-wrap {
  -ms-flex-flow: row-reverse wrap;
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  flex-flow: row-reverse wrap;
}

.main .section .title-box {
  background: #ff7d73;
  border-radius: 4px;
  margin-bottom: 9px;
  padding: 12px 16px 10px 16px;
  position: relative;
  width: 100%;
}

.main .section .title-box::before {
  background: #ffe073;
  content: "";
  display: block;
  height: calc(100% - 10px);
  left: 5px;
  position: absolute;
  top: 5px;
  width: 5px;
}

.main .section .title-box .title {
  -webkit-text-decoration-color: #fff;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #fff;
}

.main .section .title-box .title:not(:first-child) {
  margin-top: 5px;
}

.main .section-body-content {
  margin-bottom: 20px;
  width: 420px;
}

.main .section-body-content .price-box {
  -ms-flex-flow: row wrap;
  -ms-flex-pack: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-bottom: 12px;
  position: relative;
  top: -4px;
}

.main .section-body-content .price-box .lead {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-right: 16px;
  margin-top: 16px;
  text-align: right;
}

.main .section-body-content .price-box .price {
  color: #f00;
  display: inline-block;
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 4px;
  text-align: right;
}

.main .section-body-content .price-box .price > span {
  font-size: 18px;
}

.main .section-body-content .price-box .detail {
  display: inline-block;
  font-size: 11px;
  text-align: right;
  width: 100%;
}

.main .section-body-content .appeal-box {
  -ms-flex-flow: row wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  background: #ff7d73;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 12px;
}

.main .section-body-content .appeal-box > dt {
  -ms-flex-item-align: center;
  align-self: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 3px 8px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main .section-body-content .appeal-box > dd {
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1;
  background: #fff0b9;
  color: #ff7d73;
  flex: 1 0 auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.25;
  padding: 9px 7px 5px;
}

.main .section-body-content .appeal-box > dd > span {
  display: block;
}

.main .section-body-content .appeal-box > dd > p:nth-child(2n) {
  margin-top: 6px;
}

.main .section-body-content .points-list .point {
  font-size: 13px;
  line-height: 1.5;
  padding-left: 1rem;
  position: relative;
}

.main .section-body-content .points-list .point::before {
  background: #ff6872;
  border-radius: 50%;
  content: "";
  display: block;
  height: 8px;
  left: 0;
  position: absolute;
  top: 4.6px;
  width: 8px;
}

.main .section-body-content .points-list .point:not(:first-child) {
  margin-top: 8px;
}

.main .section .thumbnail {
  -ms-flex-item-align: start;
  -webkit-box-sizing: border-box;
  align-self: flex-start;
  border: 2px solid #ff7d73;
  box-sizing: border-box;
  height: auto;
  width: 240px;
}

.main .section .apply-btn {
  display: inline-block;
  margin: auto auto;
}

.main .section .apply-btn > a {
  -webkit-transition: .3s opacity;
  background: url(/portfolio/study/study02/common/img/btn-off.jpg) no-repeat left top/240px 40px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  line-height: 44px;
  position: relative;
  text-align: center;
  transition: .3s opacity;
  width: 240px;
}

.main .section .apply-btn > a::after {
  -webkit-box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  border: 7.5px solid transparent;
  border-bottom: 7.5px solid #ffe073;
  border-right: 7.5px solid #ffe073;
  bottom: 5px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  right: 5px;
  width: 15px;
}

.main .section .apply-btn > a:hover {
  opacity: .7;
}

.footer {
  padding: 20px 0 30px;
}

.footer .scr-btn {
  height: 30px;
  margin-left: auto;
  width: 30px;
}

.footer .scr-btn > a {
  -webkit-transition: .3s opacity;
  background: #ffcbc7;
  cursor: pointer;
  display: block;
  height: 30px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: 100%;
  transition: .3s opacity;
  white-space: nowrap;
  width: 30px;
}

.footer .scr-btn > a::after {
  -webkit-box-sizing: border-box;
  border-bottom: 12px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12px solid transparent;
  bottom: 14px;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 24px;
  left: 0;
  margin: auto auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
}

.footer .scr-btn > a:hover {
  opacity: .7;
}
